.oo-select {
  width: 100%;
}

.oo-radios {
  display: flex;
  flex-direction: column;
  gap: var(--oo-spacing-xs);
}

.oo-radio {
  display: inline-flex;
  align-items: center;
  gap: var(--oo-spacing-xs);
  cursor: pointer;
}